
#hovud{
    width: 100vw;
    height: 5vh;
    display: flex;
    background-color: rgb(128, 128, 128);
    border: 1px blue double;
    margin: -10px;
    justify-content: center;
    align-items: end;
    margin-bottom: 1em;
}
nav{
    border: 1px red solid;
}
.navKnapp{
    border: 3px black solid;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom: 0px transparent;
    text-decoration: none;
    height: 4em;
    background-color: lightgray;
    padding: 0.2em;
}
.valgt{
    background-color: yellow;
}
.uvalgt{
    background-color:lightgray;
}
.infoBoks{
    z-index: 100;
    margin: auto;
    position: absolute;
    background-color: white;
    box-shadow: 10em 10em 10em 10em black ;
}
.hidden{
    display: none;
}